h4 {
  background-color: cyan;
  height: 2em;
}
h4:hover {
  background-color: blue;
}
h5 {
  background-color: red;
}
.card {
  background-color: lightpink;
}
.table th {
  background-color: mediumseagreen;
}
.table td {
  background-color: lightgreen;
}
span {
  color: red;
}
.cell {
  border: 1px black solid;
  height: 2em;
  background-color: lightcoral;
}
.emptycell {
  border: 1px black solid;
  height: 2em;
  background-color: lightgreen;
}
.timecell {
  text-align: right;
}